

<%- include('./partials/head' , { title: 'TouchTribe Webshop' }) %>

<%- include('./partials/mobile-navbar') %>

<body>
    <section id="highlight">

    </section>

    <section id="products">

    </section>
</body>