/* Mobile Menu */

.mobile-menu {
    background-color: #121212b3; /* gradient version of main */
    height: 5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2em;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%;
}

.mobile-items {
    display: flex;
    align-items: center;
}

.mobile-items img {
    margin-right: 1em;
}

.menu-icon {
    margin-left: auto;
    background: none;
    border: none;
    cursor: pointer;
    display: none;
    align-items: center;
}



button {
    background: inherit;
    border: none;
}

.menu-icon svg path{
    stroke: white;
}

@media (min-width: 62.5em){
    
    .mobile-menu {
        display: none;
    }
}